* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// 底部系统安全距离，meta标签里需设置viewport-fit=cover
.safeArea{
	width: 100vw;
	height: env(safe-area-inset-bottom);
}
::-webkit-scrollbar{
    display: none !important;
}
// 去除input默认样式
input{
    background-color: transparent;
    border: none;
    width: 50px;
}
.avatar{
    object-fit: cover;
    border-radius: 50%;
}

.tl{
    text-align: left;
}
.tc{
    text-align: center;
}
.tr{
    text-align: right;
}
.bold{
    font-weight: bold;
}
.rel{
    position: relative;
    z-index: 1;
}
.br{
	word-break: break-all;
	word-wrap: break-word;
	line-break: anywhere;
}

.fastAni{
    animation-duration: 0.2s !important;
}

// flex 布局
.flex {
	display: flex;
}
.col {
	flex-direction: column;
}
.wrap {
	flex-wrap: wrap;
}
.as {
	align-items: flex-start;
}
.ae {
	align-items: flex-end;
}
.ac {
	align-items: center;
}
.js {
	justify-content: flex-start;
}
.je {
	justify-content: flex-end;
}
.jc {
	justify-content: center;
}
.jb {
	justify-content: space-between;
}
.ja{
	justify-content: space-around;
}
@for $i from 1 through 5 {
	.flex#{$i} {
		flex: $i;
	}
}
.flex0{
	flex-shrink: 0;
}

// 文本超出几行转省略号
@for $i from 1 through 5 {
	.line#{$i} {
		@if $i == '1' {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		} @else {
			display: -webkit-box!important;
			overflow: hidden;
			text-overflow: ellipsis;
			word-break: break-all;
			-webkit-line-clamp: $i;
			-webkit-box-orient: vertical!important;
		}
	}
}

@for $i from 0 through 200 {
    @if $i % 2 == 0 or $i % 5 == 0 {
        .size#{$i} {
            font-size: $i + px;
        }

        .img#{$i} {
            width: $i + px;
            height: $i + px;
        }

        .lh#{$i} {
            line-height: $i + px;
        }

        @each $short,
        $long in l left,
        t top,
        r right,
        b bottom {
            .m#{$short}#{$i} {
                margin-#{$long}: $i + px;
            }

            .p#{$short}#{$i} {
                padding-#{$long}: $i + px;
            }
        }
    }
    @if $i % 5 == 0 {
        .gap#{$i} {
            width: 100%;
            height: $i + px;
        }
    }
}

.noP{
    padding: 0 !important;
}
.noBorder{
    border: none !important;
}
.block{
    display: block;
}

.richText img{
    max-width: 35px !important;
    vertical-align: middle;
}
